header{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.04);
}
.logo{
    width: 10%;
}
.icon-header{
    background-color: transparent !important;
    font-size: 35px !important;
}
.number-cart{
    position: absolute;
    border-radius: 50% !important;
    padding: 8px 8px !important;
    right: 3.4% !important;
    top: 25% !important;
    background-color: darkslategrey !important;
    color: white !important;
    font-size: 11px !important;
    font-weight: bold !important;
}
